.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}

html {
    font-size:16px;
}
img {
    max-width: 100%;
}
p {
    font-size:1.125rem;
    line-height: 1.2;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: bold;
}
input[type="submit"],
label {
    cursor: pointer;
}
strong,b {
    font-weight: bold;
}
em,i {
    font-style: italic;
}
body {
    font-size:1rem;
    font-family: 'Alef', sans-serif;
    color: #171717;
}
input, select,
textarea, button {
    font-family: 'Alef', sans-serif;
}
input, select, textarea {
    width: 100%;
    max-width: 100%;
    border:1px solid #171717;
    height: 42px;
    padding: 0;
    margin:0;
    background: #FFF;
    font-size:1.125rem;
}
.title,
.phone,
.adagar,
h1,h2,h3,
h4,h5,h6,
.header .nav a,
.form_title {
    font-family: 'Rubik', sans-serif;
}
span.adagar {
    color: #e8bf46;
    background: #000000;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header_inner {
    margin: 0;
}
.header_top_bar {
    background-color: #171717;
    color: #FFF;
    padding: 5px 0;
    font-size: 1.6rem;
    margin-bottom: 8px;
}
.header_top_socials a {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
    float: right;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.header_top_socials a:hover,
.header_top_socials a:focus {
    color: #e8bf46;
}
.header_top_phone,
.header_top_phone a {
    color: #e8bf46;
    font-weight: bold;
    text-decoration: none;
}
.header_top_phone a {
    float: left;
    margin-right: 1rem;
}
.header_top_phone {
    float: left;
    width: 30%;
    text-align: left;
}
.header_top_socials {
    float: right;
    width: 60%;
}
nav.nav {
    float: left;
    margin-top: 3rem;
    width: 65%;
}
.logo {
    width: 25%;
    float: right;
}
.logo > a {
    display: inline-block;
}
/*.logo > a:hover span.adagar {
    color: #000000;
    background: #e8bf46;
}*/
span.adagar {
    color: #e8bf46;
    background: #171717;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3px;
    border-radius: 0;
    position: relative;

    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
span.adagar:before {
    position: absolute;
    border-radius: 3px;
    width: 2.875rem;
    height: 0.375rem;
    display: inline-block;
    content: '';
    background: #e8bf46;
    top: 1.625rem;
    left: 0;
    -moz-transform: scale(1) rotate(-65deg);
    -webkit-transform: scale(1) rotate(-65deg);
    -o-transform: scale(1) rotate(-65deg);
    -ms-transform: scale(1) rotate(-65deg);
    transform: scale(1) rotate(-70deg);
}
span.adagar:after {
    position: absolute;
    border-radius: 3px;
    width: 1.875rem;
    height: 0.25rem;
    display: inline-block;
    content: '';
    background: #e8bf46;
    top: 20px;
    left: 21px;
    -moz-transform: scale(1) rotate(-65deg);
    -webkit-transform: scale(1) rotate(-65deg);
    -o-transform: scale(1) rotate(-65deg);
    -ms-transform: scale(1) rotate(-65deg);
    transform: scale(1) rotate(-70deg);
}
span.slogan {
    color: #000;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
}
.header .nav a {
    color: #171717;
    font-size:1.8rem;
    line-height: 1;
    text-decoration: none;
}
.header .nav a:focus {
    background: #171717;
    color: #FFF;
    outline: none;
}
.header .nav ul {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
.header .nav li:first-child{
    margin-right: 0;
}
.header .nav li {
    float: right;
    margin-right: 2.5rem;
}
.large_view .header .nav li  {
    margin-right: 1.2rem;
}
.row:after,
.row:before {
    display: block;
    content: '';
    clear: both;
}
.column {
    width: 49%;
    float: right;
}
.column.last {
    float: left;
}

.cube_inner {
    background: #171717;
    color: #FFF;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.yellow_bg .cube_inner {
    background: #e8bf46;
    color: #000;
}
.right_column {
    width: 39.5%;
    float: right;
}
.left_column {
    width: 59.5%;
    float: left;
}
.top_cube,
.bottom_cube {
    height: 14rem;
}
.top_cube {
    margin-bottom: 1rem;
}
.right_cube {
    width: 49%;
    float: right;
    height: 29rem;
}
.left_cube {
    width: 49%;
    float: left;
    height: 29rem;
}
h3.column_section_title {
    margin-top: 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.row_cube {
    margin-bottom: 1rem;
}
.cube_container {
    padding: 1rem;
    position: relative;
}
h3.cube_title {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
footer.footer {
    background: #171717;
    color: #FFF;
    padding: 1rem 0;
}
a.cube_permalink {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #FFF;
    color: #171717;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 2px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
.bottom_cube a.cube_permalink {
    background: #171717;
    color: #FFF;
}
.adagar_loader {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.adagar_loader_inner {
    position: relative;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    top: 45vh;
}
.cube_icon {
    font-size:6rem;
    text-align: center;
    margin-top: 4rem;
}
.cube_icon i {
    background: #FFF;
    color: #000;
    padding: 1rem;
    border-radius: 1rem;
}
.cube_desc {
    margin-bottom: 5px;
}
.cube_desc a {
    text-decoration: underline;
    color: inherit;
}
.cube_desc a:hover {
    text-decoration: none;
}
.footer_contact_section {
    /*background: #e8bf46;*/
    color: #000;
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: 3px solid #171717;
}
.form_title {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.form_input {
    width: 23%;
    float: right;
    margin-left: 2.66666667%;
}
.form_input:last-child {
    margin-left: 0;
}
.form_input input{
    width: 98%;
    max-width: 100%;
    height: 42px;
    border: 2px solid #171717;
    padding: 0 1%;
    font-size: 1.2rem;
    color: #171717;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.form_input input[type="submit"] {
    background: #171717;
    color: #FFF;
    border: 0;
    height: 46px;
}
.form_input input:focus {
    background: #171717;
    color: #FFF;
}
::-webkit-input-placeholder {color: #171717;}
::-moz-placeholder          {color: #171717;}
:-moz-placeholder           {color: #171717;}
:-ms-input-placeholder      {color: #171717;}

.header_accessibility {
    display: inline-block;
    float: right;
    margin-right: 10px;
    border-right: 1px solid #FFF;
    padding-right: 16px;
}
a.font_large i {
    font-size: 20px;
}
a.font_default i {
    font-size: 16px;
}
a.font_small i {
    font-size: 12px;
}
a.is_active {
    color: #e8bf46 !important;
}
.wp_the_content h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.wp_the_content h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.wp_the_content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.wp_the_content p:not(:last-child) {
    margin-bottom: 10px;
}
/** Home video cover **/
section.adagar_video_cover {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.adagar_video_content {
    position: absolute;
    width: 100%;
    top: 10vh;
    text-align: center;
}
.adagar_video_content_inner {
    display: inline-block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background: rgba(255,255,255,0.7);
}
.adagar_video_content_inner .logo {
    float: none;
    display: inline-block;
    width: 300px;
    margin: 0 auto;
}
.cover_content {
    color:#000;
    margin-top: 2rem;
}
.cover_content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #171717;
}
.video_cover_arrow {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    z-index: 10;
    text-align: center;
    color: #e8bf46;
    font-size: 4rem;
}
.video_cover_arrow a {
    color: inherit;
}
/**************************************
    Contrast start
**************************************/
body.contrast_on,
body.contrast_on .header {
    background: #000;
    color: #FFF;
}
body.contrast_on a,
body.contrast_on .header .nav a {
    color: #e8bf46;
}
body.contrast_on .form_title,
body.contrast_on .screen_block_inner {
    color: #FFF;
}
body.contrast_on .adagar_logo img,
body.contrast_on .logo img {
    background-color: #FFF;
}
body.contrast_on .screen_block_inner {
    border:1px solid #FFF;
}
/**************************************
    Contrast END
**************************************/
.yellow_bg {
    background: #e8bf46;
}
.black_bg {
    background: #171717;
}
.yellow_screen {
    /*background: #e8bf46;*/
    width: 50%;
    /*height: 90vh;*/
    float: right;
}
.black_screen {
    /*background: #171717;*/
    width: 50%;
    /*height: 90vh;*/
    float: right;
}

header .wrapper {
    position: relative;
}
.home header{
    padding: 0;
}
header {
    padding: 0 0 10px 0;
}
header.active {
    background: #FFF;
}
.screen_inner {
    position: relative;
    /*top: 8vh;*/
    text-align: center;
    padding: 3rem 8%;
}
.screen_block {
    display: block;
    position: relative;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.screen_block:last-child {
    margin-bottom: 0;
}
.screen_block_inner {
    display: inline-block;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
    padding-right: 115px;
    text-align: right;
    color: #000;
    border:1px solid #000;
}
.screen_block_outer {
    position: absolute;
    right: 20px;
    top: -36px;
    background: #e8bf46;
    padding: 10px;
    border: 1px solid #171717;
    -webkit-box-shadow: 3px -2px 16px 2px rgba(0,0,0,0.3);
    box-shadow: 3px -2px 16px 2px rgba(0,0,0,0.3);
}
.outer_icon {
    font-size: 3rem;
    color: #171717;
}
.logo.logo_left {
    float: left;
    text-align: left;
}
.logo.logo_left a img {
    max-width: 140px;
    width: 100%;
}
.menu_trigger {
    position: absolute;
    right: 0;
    top: 12px;
    width: 60px;
    height: 45px;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.menu_trigger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #000;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu_trigger span:nth-child(1) {
  top: 0px;
}

.menu_trigger span:nth-child(2),
.menu_trigger span:nth-child(3) {
  top: 18px;
}

.menu_trigger span:nth-child(4) {
  top: 36px;
}

.menu_trigger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu_trigger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_trigger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu_trigger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

nav.hidden_desktop_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #FFF;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.active_desktop_navigation {
    overflow: hidden;
}
.active_desktop_navigation nav.hidden_desktop_nav {
    display: block;
}
nav.hidden_desktop_nav >  ul {
    position: relative;
    top:0;
    margin-top: 5rem;
    font-size:2.2rem;
}
nav.hidden_desktop_nav >  ul a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
nav.hidden_desktop_nav >  ul .current-menu-item a {
    background: #000;
    color: #e8bf46;
}
.menu_socials {
    margin-top: 1rem;
}
.menu_socials a {
    text-decoration: none;
    color: #e8bf46;
    background: #000;
    padding: 10px;
    font-size: 2.2rem;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

.header_banner_wrapper {
    min-height: 400px;
    width:100%;
    position: relative;
    /*background: url(https://unsplash.it/1920/400) no-repeat top center;*/
    background-color: #000;
    background-repeat: no-repeat;
    background-position: top center;
}
.header_banner_title {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    z-index: 2;
}
.header_banner_title h1 {
    display: inline-block;
    background: rgba(23, 23, 23, 0.9);
    color: #FFF;
    padding: 1rem 2rem;
    font-size: 2rem;
}
.step_container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #efefef;
}
.step_container:last-child {
    border-bottom: 0;
}

.description {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.step_number {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
}
.step_number span {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #171717;
    color: #FFF;
    margin-bottom: 10px;
}
.step_section_content {
    text-align: center;
}
.step_content h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.page_description {
    padding: 2rem 0;
}
.form_row {
    margin-bottom: 0.9rem;
}
.form_row.error label {
    color: red;
}
h3.green {
    text-align: center;
    color: green;
    font-size: 3rem;
    margin: 4rem 0;
}
.form_row.error input,
.form_row.error select {
    border:1px solid red;
}
.form_row label {
    cursor: pointer;
    font-size:1.2rem;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form_row input:focus,
.form_row select:focus,
.form_row textarea:focus {
    outline: 3px solid #171717;
}
.form_row textarea {
    min-height: 200px;
    resize: none;
    max-width: 98%;
    padding: 1%;
}
.form_row input[type="submit"],
.form_row input[type="submit"]:focus {
    background: #171717;
    color: #FFF;
    font-weight: bold;
}
.page_icon_decoration {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.page-template-tpl-home {
    background: #eeeeee;
}
.page-template-tpl-home header {
    padding: 0 0 10px 0;
    position: absolute;
    width: 100%;
    top:0;
}
.fullheight {
    height: 100vh;
}
.home_fullscreen {
    padding-top: 4rem;
    position: relative;
}
.left_side {
    width: 50%;
    float: left;
}
.right_side {
    width: 50%;
    float: right;
}
.side_inner {
    padding: 4%;
    position: relative;
}
.side_inner h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 400;
}
.side_inner h1 span {
    background: #171717;
    color: #FFF;
    padding: 5px;
    display: inline-block;
}
.side_inner h2 {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 400;
}
.side_inner h2 span.white {
    background: #FFF;
    color: #000;
    display: inline-block;
    padding: 5px;
}
.side_inner h2 span.yellow {
    background: #e8bf46;
    color: #000;
    display: inline-block;
    padding: 5px;
}
.home_buttons{
    text-align: center;
}
.home_buttons ul,
.home_buttons li {
    display: inline-block;
}
.home_buttons a {
    background: #171717;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin:0 0 0 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
.home_buttons a:hover {
    background: #e8bf46;
    color: #000;
}
.home_buttons a:last-child {
    margin-left: 0;
}
.home_buttons {
    margin-top: 2rem;
}
.fullheight_table {
    width: 100%;
    height: 100%;
}
.fullheight_table td {
    vertical-align: middle;
}
button.step_button {
    background: #171717;
    padding: 5px 15px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    margin: 1rem 0;
    font-size: 1.4rem;
}

.home .logo.logo_left {
    display: none;
}

/*********
    Progress Bar
    ***************/
.ajax_wrapper {
    min-height: 450px;
}
.progress-bar-container {
    max-width: 800px;
    margin: 0 auto;
}
.progress {
  width: 100%;
  height: 25px;
}
.progress-wrap {
  background: #e8bf46;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  border:3px solid #000;
}
.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}
